<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    
</head>
<body>
    <header>
<nav class="navbar">
    <div class="mobile"><a href="/home"><img src="/images/logo-mercado-liebre.svg" alt="logotipo"></a></div>
        <div class="buscador"><div class="buscar"><form action=""><input type="text" name="buscador" placeholder="Buscar productos, marcas"></form></div>
            <div class="lupa">
                <i class="fas fa-search"></i>
            </div>
        </div>
    
       <div class="text-header"><p><i class="fas fa-hand-holding-usd"></i>compra en cuotas y sin intereses</p></div> 
    </nav>
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
        </div>
        <div>
<nav class="navbar-menu">
    <div class = "search-bar">
    <ul>
        <li><a href="">Ofertas</a></li>
        <li><a href="">Tiendas Oficiales</a></li>
        <li><a href="">Vender</a></li>
        <li><a href="">Ayuda</a></li>
    </ul>
</div>
<div class="login-bar">
       <ul>
         <li><a href="/register">Crear tu cuenta<i class="far fa-address-card"></i></a></li>
         <li><a href="/login">Ingresa<i class="fas fa-sign-in-alt"></i></a></li>
         <li><a href="">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
       </ul>
    </div>
</nav>
    </header>

    <main class="register">
     <section>
         <article>
             <form action="/register" method="POST">
               <div class="icon"><input type="text" name="Nombre" placeholder="Nombre y apellido"></div> 
               <div  class="icon"><input type="text" name="Usuario" placeholder="Nombre de usuario"></div> 
               <div  class="icon"><input type="email" name="email" placeholder="E-mail"></div> 
               <div  class="icon"> <h4>Fecha de nacimiento</h4>
                <input class="fecha" type="date" name="fecha" placeholder="dia">
            </div>
            <div  class="icon"><input type="text" name="Domicilio" placeholder="Domicilio"></div>
            <div class="radio"> <h4>Perfil del usuario</h4>
                <label for="">
                <input type="radio" name="Perfil" value="Comprador">Comprador
            </label>
            <label for="">
                <input type="radio" name="Perfil" value="Vendedor">Vendedor
            </label>
            </div>
            <div>
                <div><h4>Intereses</h4></div>
                <div><label for="">
                    <input type="checkbox" name="interes" value="Electro">Electro
                </label></div>
                <div><label for="">
                    <input type="checkbox" name="interes" value="Moda">Moda
                </label></div>
                <div><label for="">
                    <input type="checkbox" name="interes" value="Hogar">Hogar
                </label></div>
                <div><label for="">
                    <input type="checkbox" name="interes" value="Jugueteria">Jugueteria
                </label></div>
               <div><label for="">
                <input type="checkbox" name="interes" value="Vida">Vida sana
            </label></div> 
            </div>
            <div class="avatar"><label for="">Seleccione foto de perfil</label><input type="file" name="avatar" accept=".jpg, .png" ></div>
            <div  class="icon"><input type="password" name="password" placeholder="Contraseña"></div>
            <div  class="icon"><input type="password" name="password" placeholder="Repetir Contraseña"></div>
            <div class="boton">
            <button class="boton-azul"  type="submit">Enviar</button>
                <button class="boton-rojo" type="reset">Borrar</button>
                
            </div>
        </form>
         </article>
     </section>


    </main>

    <footer>
        <article class= "info">
            <section class="dato">
                <i class="fas fa-credit-card"></i>
        <h2>Pagá con tarjeta o en efectivo</h2>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section class="dato">
                <i class="fas fa-gift"></i>
        <h2>Envío gratis desde $ 2.500</h2>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section class="dato">
                <i class="fas fa-user-shield"></i>
        <h2>Seguridad, de principio a fin</h2>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
            </section>
        </article>
        <article class="findepagina">
            <h2>Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
        </article>
            </footer>

</body>
</html>